.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 107px 0 112px;
}

.Content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}


.Information {
  &_Container {
    max-width: 480px;
    color: rgba(0, 0, 0, 0.6);
  }

  &_Title {
    padding-bottom: 40px;
    font-size: 48px;
    line-height: 58px;
  }

  &_Subtitle {
    max-width: 406px;
    padding-bottom: 20px;
    color: #000;
    font-size: 48px;
    line-height: 48px;
  }

  &_Text {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
  }

  &_List {
    padding: 0 0 40px 30px;
  }

  &_BonusList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
  }

  &_Item {
    display: flex;
    align-items: center;
    gap: 13px;

    &Text {
      max-width: 418px;
    }

    &Boll {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      color: white;
      background: black;
    }
  }

  &_Small {
    font-style: italic;
    padding-bottom: 20px;
  }

  &_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 380px;
    padding: 19px;
    color: white;
    background: #000;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media all and (max-width: 1024px) {
  .Container {
    padding: 40px 0 40px;
  }

  .Information {
    &_Container {
      max-width: 334px;
    }

    &_Title {
      padding-bottom: 10px;
      font-size: 30px;
      line-height: 37px;
    }

    &_Subtitle {
      max-width: 349px;
      padding-bottom: 10px;
      font-size: 30px;
      line-height: 30px;
    }

    &_Item {
      &Text {
        max-width: 290px;
      }
    }

    &_Text {
      font-size: 14px;
      line-height: 17px;
    }

    &_Button {
      padding: 12px;
      max-width: 280px;
    }
  }
}

@media all and (max-width: 700px) {
  .Content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }


  .Container {
    &_Title {
      padding-bottom: 15px;
      font-size: 20px;
      line-height: 25px;
    }

    &_Subtitle {
      max-width: 249px;
      color: #000;
      font-size: 20px;
      line-height: 20px;
    }

  }
}

@media all and (max-width: 460px) {
  .Roadmap {
    margin: 0 0 40px 0;
  }

  .Container {
    flex-direction: column;
  }

  .Information {
     &_Item {
       &Text {
         max-width: 230px;
       }
     }
  }
}