.Footer {
  font-family: 'ProximaNova';
  font-size: 18px;
  line-height: 22px;

  &Top {
    background-color: #F5F5F5;
    padding: 30px 0 50px;

    &_Container {
      display: flex;
      justify-content: space-between;
    }

    &_Information,
    &_List {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_Title {
      margin: 0;
      font-weight: bold;
    }
  }

  &Bottom {
    background-color: white;
    padding: 20px 0;
  }
}

@media all and (max-width: 767px) {
  .Footer {
    font-size: 14px;
    line-height: 17px;
  }
}

@media all and (max-width: 400px) {
  .Footer {
    &Top {
      &_Container {
        display: grid;
        grid-template-columns: repeat(2, 116px);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
      }
    }
  }
}