.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 93px 0;
}

.Content {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.Roadmap {
  margin-right: 141px;
}

.Information {
  &_Container {
    max-width: 559px;
    color: rgba(0, 0, 0, 0.6);
  }

  &_Title {
    padding-bottom: 30px;
    font-size: 48px;
    line-height: 58px;
  }

  &_Subtitle {
    padding-bottom: 30px;
    color: #000;
    font-size: 48px;
    line-height: 48px;
  }

  &_Text {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
    text-decoration: solid;

    span {
      font-weight: bold;
    }
  }


  &_Button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 380px;
    padding: 19px;
    color: white;
    background: #000;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &_Small {
    font-size: 15px;
    line-height: 17px;
    padding-bottom: 20px;
    font-style: italic;
  }
}