@font-face {
  font-family: 'ProximaNova';
  src: url('../public/fonts/ProximaNovaBold.woff'),
    url('../public/fonts/ProximaNovaBold.woff2');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../public/fonts/ProximaNovaCondRegular.woff'),
    url('../public/fonts/ProximaNovaCondRegular.woff2');
  font-display: swap;
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ProximaNova';
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  object-fit: contain;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);

  &:focus {
    border: none;
    outline: none;
  }
}

.d-flex {
  display: flex;
}

.justify-content {
  &-space {
    &-between {
      justify-content: space-between;
    }
  }
}

.main-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  html,
  body {
    font-size: 12px;
    line-height: 15px;
  }
  .main-container {
    max-width: 990px;
  }
}

@media all and (max-width: 768px) {
  .main-container {
    max-width: 738px;
    padding: 0 5px;
  }
}

@media all and (max-width: 425px) {
    .main-container {
      max-width: 290px;
    }
}